{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">{{ app.session.flashBag.get('success')[0] }}</div>
    {% endif %}
    <h1>Liste des opérations</h1>

    {% if operations|length == 0 %}
        <p>Aucune opération n'a été enregistrée pour le moment.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>État</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in operations %}
                    <tr>
                        <td>{{ operation.id }}</td>
                        <td>{{ operation.nom }}</td>
                        <td>{{ operation.etat }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
